<h4>Thank you for your booking</h4>
<h5>Details as follows:</h5>

<table>
    <th>Departing</th>
    <th>Arriving</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Flight Duration</th>
        <tr>
          <td><%= @flight.departing.code %></td>
          <td><%= @flight.arriving.code %></td>
          <td><%= @flight.departure_time %></td>
          <td><%= @flight.arrival_time %></td>
          <td><%=@flight.duration%></td>
        </tr>
</table>

<table>
	<th>Booking Number</th>
	<th>Email</th>
	<th>Name</th>
	<% @passengers.each do |passenger| %>
		<tr>
			<td><%= @booking.id %></td>
			<td><%= @booking.email %></td>
			<td><%= passenger.name %></td>
		</tr>
	<% end %>
</table>
